@{
    ViewBag.Title = "Dark Souls Character Planner and Equipment Encyclopedia";
}

<div class="jumbotron">
    <h1>Dark Souls</h1>
    <p>Character Planner and Equipment Encyclopedia</p>
</div>

@*<div class="row">
    <ul>
        <li>@Html.ActionLink("Weapons", "Weapons", "Equipment")</li>
        <li>@Html.ActionLink("AR Calculator", "ARCalculator", "Equipment")</li>
    </ul>
</div>*@